*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    }
    

    /* Navbar */
    header{
        width: 100%;
        height: 50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      
      /* Navbar */
      .logo img {
        width: 100px; 
        height: auto;
      }
      
      .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
        padding-top: 20px;
      }
      
      .nav-links li a {
        text-decoration: none;
        /* font-family: 'Times New Roman', Times, serif; */
        transition: color 0.3s;
      }
      
      .nav-links li a:hover {
        color: #ff9800; 
      }
      
      .logo{
        padding-left: 25px;
        padding-top: 10px;
      }
      
      .nav-links {
        flex: 1;
        text-align: left;
        color: rgb(101, 97, 97);
        display: flex;
      }
      
      .nav-links ul li {
        display: inline-block;
        margin: 5px 20px; 
        padding-right: 30px;
      }
      
      .nav-links ul li a {
        color: rgb(55, 55, 51);
        font-size: large;
        font-weight: bolder;
      }
      
      .nav-links ul li a::after{
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0%;
        background-color: #cb8450;
        transition: .6s;
      }
      
      .nav-links ul li a:hover:after {
        width: 100%;
      }
      
      .nav-links ul img{
        width: 20px;
        padding-right: 30px;
      }
      
      nav .fa-solid {
        display: none;
        margin: 10px;
      }
    /* End of navar */

    /* Footer */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        width: 100%;
    }
      
    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
      
    .contact-info, .social-media, .links, .newsletter {
        flex: 1;
        padding: 20px;
        text-align: center;
    }
      
    .contact-info h3, .social-media h3, .links h3, .newsletter h3 {
        margin-bottom: 10px;
    }
      
    .social-media ul {
        list-style: none;
        padding: 0;
    }
      
    .social-media li {
        display: inline;
        margin-right: 10px;
    }
      
    .social-media img {
        width: 24px;
        height: 24px;
    }
      
    .links ul {
        list-style: none;
        padding: 0;
    }
      
    .links ul li a {
        list-style: none;
        text-decoration: none;
        color: white;
    }
      
    .links li {
        margin-bottom: 5px;
    }
      
    button{
        border: none;
        background: black;
        padding: 12px 30px;
        border-radius: 30px;
        color: white;
        font-size: 15px;
        transition: .4s;
    }
      
    button:hover{
        transform: scale(1.3);
        cursor: pointer;
    }
    /* End of footer */

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fffefb;
    }
    
    .header{
        height: 80px;
        width: 70%;
        background-color: #333;
        border-radius: 3px;
        margin: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
    
    .header .logo{
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    
    .cart{
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;
        border-radius: 3px;
        width: 80px;
    }
    
    .fa-solid{
        color: #333;
    }
    
    .cart p{
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        background-color: #333;
        color: white;
    }
    
    .container{
        display: flex;
        width: 70%;
        margin-bottom: 30px;
    }
    
    #root{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2. 1fr);
        grid-gap: 20px;
    }
    
    .sidebar{
        width: 40%;
        border-radius: 5px;
        background-color: #d3cdcd;
        margin-left: 20px;
        padding: 15px;
        text-align: center;
    }
    
    .head{
        background-color: #333;
        border-radius: 3px;
        height: 40px;
        padding: 10px;
        margin-bottom: 20px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .foot{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        padding: 10px 0;
        border-top: 1px solid #333;
    }
    
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #333;
        border-radius: 5px;
        padding: 15px;
    }
    
    .img-box{
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .images{
        /* max-width: 90%;
        max-height: 90%; */
        width: 300px;
        height: 180px;
        object-fit: cover;
        object-position: center;
        position: relative;
    }
    
    .bottom{
        margin-top: 20px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 110px;
    }
    
    .container h2{
        font-size: 15px;
        color: red;
    }
    .bottom1 button{
        width: 100%;
        position: relative;
        border: none;
        border-radius: 5px;
        background-color: black;
        padding: 7px 25px;
        cursor: pointer;
        color: white;
    }
    
    .bottom1 button:hover{
        background-color: #333;
    }
    
    .cart-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid #aaa;
        border-radius: 3px;
        margin: 10px 20px;
    }
    
    .row-img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #333;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .rowing{
        max-width: 43px;
        max-height: 43px;
        border-radius: 50%;
    }
    
    .fa-trash:hover{
        cursor: pointer;
        color: #333;
    }

    .foot .btn{
        width: 50%;
        position: relative;
        border: none;
        border-radius: 5px;
        background-color: black;
        padding: 7px 25px;
        cursor: pointer;
        color: white;
    }
    
    .foot .btn:hover{
        background-color: #333;
    }


